<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Designmodo</key>
	<string>The World free</string>
	<key>Freepik</key>
	<string>Magnifying glass free, Calendar free, Locked padlock free, Left Arrow free, and Right Arrow free</string>
	<key>Scott de Jonge</key>
	<string>Sleeping Bed Silhouette free</string>
	<key>Robin Kylander</key>
	<string>Menu three horizontal lines symbol free</string>
</dict>
</plist>
