<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Designmodo</key>
	<string>http://www.flaticon.com/authors/designmodo</string>
	<key>Freepik</key>
	<string>http://www.flaticon.com/authors/freepik</string>
	<key>Scott de Jonge</key>
	<string>http://www.flaticon.com/authors/scott-de-jonge</string>
	<key>Robin Kylander</key>
	<string>http://www.flaticon.com/authors/robin-kylander</string>
</dict>
</plist>
