<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Australian Capital</key>
	<string>AC</string>
	<key>New South Wales</key>
	<string>NW</string>
	<key>Northern Territory</key>
	<string>NO</string>
	<key>Queensland</key>
	<string>QL</string>
	<key>South Australia</key>
	<string>SA</string>
	<key>Tasmania</key>
	<string>TS</string>
	<key>Victoria</key>
	<string>VC</string>
	<key>Western Australia</key>
	<string>WT</string>
</dict>
</plist>
