<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pattern</key>
		<string>^(36|38|30[0-5])</string>
		<key>companyName</key>
		<string>Diners Club</string>
		<key>shortName</key>
		<string>dinersclubintl</string>
		<key>numberGrouping</key>
		<string>4,6,4</string>
		<key>length</key>
		<string>14</string>
		<key>eantype</key>
		<string>DC</string>
		<key>presentName</key>
		<string>Diners Club</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^35</string>
		<key>companyName</key>
		<string>JCB</string>
		<key>shortName</key>
		<string>jcb</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>16</string>
		<key>eantype</key>
		<string>JC</string>
		<key>presentName</key>
		<string>JCB</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^3[47]</string>
		<key>companyName</key>
		<string>American Express</string>
		<key>shortName</key>
		<string>amex</string>
		<key>numberGrouping</key>
		<string>4,6,5</string>
		<key>length</key>
		<string>15</string>
		<key>eantype</key>
		<string>AX</string>
		<key>presentName</key>
		<string>AMEX</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^4</string>
		<key>companyName</key>
		<string>Visa</string>
		<key>shortName</key>
		<string>visa</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>13,14,15,16</string>
		<key>eantype</key>
		<string>VI</string>
		<key>presentName</key>
		<string>Visa</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string></string>
		<key>companyName</key>
		<string>Carte Bleue</string>
		<key>shortName</key>
		<string>cartebleue</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>13,14,15,16</string>
		<key>eantype</key>
		<string>R</string>
		<key>presentName</key>
		<string>Carte Bleue</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string></string>
		<key>companyName</key>
		<string>Carte Si</string>
		<key>shortName</key>
		<string>cartesi</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>16</string>
		<key>eantype</key>
		<string>T</string>
		<key>presentName</key>
		<string>Carte Si</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^5[1-5]</string>
		<key>companyName</key>
		<string>MasterCard</string>
		<key>shortName</key>
		<string>mastercard</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>16</string>
		<key>eantype</key>
		<string>CA</string>
		<key>presentName</key>
		<string>MasterCard</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^(5018|5020|5038|6304|6759|676[1-3])</string>
		<key>companyName</key>
		<string>Maestro</string>
		<key>shortName</key>
		<string>maestro</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>12,13,14,15,16,17,18,19</string>
		<key>eantype</key>
		<string>TO</string>
		<key>presentName</key>
		<string>Maestro</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string>^(6011|65|64[4-9]|622)</string>
		<key>companyName</key>
		<string>Discover</string>
		<key>shortName</key>
		<string>discover</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>length</key>
		<string>16</string>
		<key>eantype</key>
		<string>DS</string>
		<key>presentName</key>
		<string>Discover</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string></string>
		<key>companyName</key>
		<string>BC Card</string>
		<key>shortName</key>
		<string>bccard</string>
		<key>numberGrouping</key>
		<string></string>
		<key>length</key>
		<string></string>
		<key>eantype</key>
		<string>BC</string>
		<key>presentName</key>
		<string>BC Card</string>
	</dict>
	<dict>
		<key>pattern</key>
		<string></string>
		<key>companyName</key>
		<string>Electron</string>
		<key>shortName</key>
		<string>electron</string>
		<key>numberGrouping</key>
		<string></string>
		<key>length</key>
		<string></string>
		<key>eantype</key>
		<string>E</string>
		<key>presentName</key>
		<string>Electron</string>
	</dict>
</array>
</plist>
